@import '../_globals.scss';

.home-container {
    .welcome {
        position: absolute;
        top: 65%;
        left: 10%;
        .title {
            color: #FFF;
            font-size: 32px;
            font-weight: bold;
            background: rgba(31, 31, 31, 0.9);
        padding: 10px 20px;
        }
        .button-group {
            margin-top: 30px;
            button {
                &:last-child {
                    margin-left: 25px;
                }
            }
        }
    }
}